<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <listeners>
        <listener class-name="org.apache.rocketmq.apitest.test.TestNGListener" />
    </listeners>
    <suite-files>
        <!-- hello world test suite -->
        <suite-file path="src/test/resources/suite-admin.xml" />
        <suite-file path="src/test/resources/suite-client.xml" />
    </suite-files>
</suite>